.main-title {
  font-size: 2em;
  font-family: century gothic, bold;
  text-align: center;
  border-width: 40;
}
.html-logo {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 60px;
  color: rgb(0, 88, 189);
}
